@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700&display=swap');
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #eee;
}

.container{
  font-family: 'Raleway', sans-serif;
  width: 700px;
  border-radius: 10px;
  margin-top: 100px;
}

.card {
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.card-image img{
  width: 100%;
  height: 150px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover;
}

.profile-image img{
  z-index: 1;
  width: 160px;
  height: 160px;
  position: relative;
  margin-top: -75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 10px solid #fff;
  transition-duration: 0.4s;
  transition-property: transform;
}

.profile-image img:hover{
  transform: scale(1.1);
}

.card-content h3{
  font-size: 25px;
  text-align: center;
  margin: 3px;
  color: rgb(216, 128, 141);
}

.card-content h5{
  font-size: 15px;
  font-weight: 100;
  text-align: center;
  margin: 0;
  color: teal;
}

.card-content p{
  font-size: 16px;
  text-align: justify;
  padding: 0 30px 5px 30px;
  font-weight: 100;
}

.card-content a{
  text-decoration: none;
  color: teal;
}

.card-content a:hover{
  color: rgb(216, 128, 141);
}

.social-icons{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 30px;
}

.social-icons a{
  text-decoration: none;
  font-size: 30px;
  color: rgb(15, 66, 92);
  padding: 0 14px;
  transition-duration: 0.4s;
  transition-property: transform;
}

.social-icons a:hover{
  color: rgb(216, 128, 141);
  transform: scale(1.5);
}

.boxes {
  display: flex;
  background: rgb(252, 250, 246);
}

.boxes p {
  font-size: 16px;
  padding: 0 30px 5px 30px;
  font-weight: 100;
}

.boxes img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  padding-left: 100px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
